name: build
on: [push, pull_request]
jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    steps:

    - name: set up go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: check out code
      uses: actions/checkout@v1

    - name: install golangci-lint and goveralls
      run: |
        curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $GITHUB_WORKSPACE v1.20.0
        go get -u github.com/mattn/goveralls

    - name: test and lint
      run: |
        go test -mod=vendor -covermode=count -coverprofile=profile.cov ./...
        GITHUB_WORKSPACE/golangci-lint run
        
    - name: submit coverage
      run: |
        export GIT_BRANCH="${GITHUB_REF/refs\/heads\//}"
        export GIT_TAG="${GITHUB_REF/refs\/tags\//}"

        if [[ "$GIT_TAG" != "$GITHUB_REF" ]]; then
          export GIT_BRANCH=$GIT_TAG
        fi

        cd backend
        $(go env GOPATH)/bin/goveralls -service="GitHub Action" -coverprofile=$GITHUB_WORKSPACE/profile.cov -repotoken $COVERALLS_TOKEN
      env:
        COVERALLS_TOKEN: ${{secrets.COVERALLS_TOKEN}}

    - name: build docker image
      run: docker build .


